<div class="row resume-section-row">

  <div class="row sub-title-row">
    <div class="col-sm-1 col-md-1 col-lg-1 sub-title-bar">
      <hr />
    </div>

    <div class="col-sm-10 col-md-10 col-lg-10">
      <h3>Projects</h3>
    </div>
  </div>

  <% @projects.each do |project| %>
    <div class="row resume-subsection-row">
      <div class="col-sm-1 col-md-1 col-lg-1" style="width:120px">
        <%= project.start_date.strftime('%m/%y') unless project.start_date.nil? %>-<%= project.end_date.strftime('%m/%y') unless project.end_date.nil? %>
      </div>

      <div class="col-sm-10 col-md-10 col-lg-10">
        <div class="resume-subsection-data">
          <%= link_to project.name, project_path(id: project.id, layout_index: 1), class: "resume-project-link" %>
          <p><%= project.long_description %></p>
        </div>
      </div>
    </div>
  <% end %>

</div>





