
<div class="row">
  <div class="col-sm-3 col-md-3 col-lg-3">
    <h1 class="page-title">Projects</h1>
  </div>
  <div class="col-sm-9 col-md-9 col-lg-9"></div>
</div>

<% @projects.each_with_index do |project, index| %>

  <% if index % 2 == 0 %>
    <%= render 'title_link',    project: project, layout_index: 1 %>
    <%= render 'detail_1',      project: project %>
  <% else %>
    <%= render 'title_link',    project: project, layout_index: 2 %>
    <%= render 'detail_2',      project: project %>
  <% end %>
<% end %>
