<h1>Projects for <%= @observed_user.username%></h1>

<ul>
  <% @projects.each do |project| %>
    <li>
      <%= link_to project.name, project_path(id: project.id) %>
    </li>
    <p>
      <%= project.long_description %>
    </p>
    <% project.photos.each do |photo| %>
      <img src=<%= photo.get_path %> height="60" width="60">
    <% end %>
  <% end %>
</ul>