<h1 class="page-title">Links</h1>

<ul>
  <% @links.each do |link| %>
    <div class="user-link-content">
      <li>
        <a class="user-link" href="<%= link.url %>"><%= link.text %></a>
      </li>
    </div>
  <% end %>
</ul>