<div class="row post-photo-row">
  <% (0..3).each do |index| %>
    <div class="col-sm-4 col-md-4 col-lg-4 post-photo-col">
      <% if photo_group.count > index %>
        <img class="center-block small-post-img" id="small-post-img-<%=index%>" src=<%= photo_group[index].get_path %> height="65" width="65">
      <% end %>
    </div>
  <% end %>
</div>