<div class="row project-title-row">
  <div class="col-sm-3 col-md-3 col-lg-3"></div>
  <div class="col-sm-9 col-md-9 col-lg-9 shifted-title-col">
    <%= link_to post.title, post_path(id: post.id, layout_index: 1), class: "project-post-link" %>
  </div>
</div>