<h1 class="page-title">Posts</h1>

<ul>
  <% @posts.each do |post| %>
    <div class="post-content">
      <li>
        <%= link_to post.title, post_path(id: post.id) %>
      </li>
      <p>
        <%= post.text %>
      </p>
      <% post.photos.each do |photo| %>
        <img src=<%= photo.get_path %> height="60" width="60">
      <% end %>
    </div>
  <% end %>
</ul>