<h1 class="page-title"><%= @post.title %></h1>

<div class="post-individual-content">
  <p><%= @post.text %></p>
  <% @post.photos.each do |photo| %>
    <div class="post-photo">
      <img src=<%= photo.get_path %> height="60" width="60">
    </div>
  <% end %>
</div>