/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome";
@import "bootstrap";

body { 
  padding: 45px 0 0 0;
  background-color: #E4F0F3;
}

.navbar {
} 

.navbar.navbar-inverse.navbar-fixed-top {
  background-color: #233445;
}

.collapse navbar-collapse {

}

.nav.navbar-nav {
  float: right;
  margin-right: 98px;
}

.navbar-brand {
  font-family: Fitzgerald;
  color: white;
  font-size: 20px;
}

.nav.navbar-nav li {
  font-family: Fitzgerald;
  color: white;
  font-size: 20px;
}

.page-title {
  font-family: Fitzgerald;
  font-size: 45px;
}

.main-content-container {
  background-color: #E5F2BD;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 40px;
  border-radius: 5px;
}