/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome";
@import "bootstrap";

@media only screen and (max-width: 780px) {
  #background-img {
  position: absolute; 
  top: 500; 
  left:0;
  width: 100%;
  height: 100%;
  overflow-y: hidden ! important;
  overflow-x: hidden ! important;
  background-image: none;
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  z-index: 0;
  }
}

@media only screen and (max-width: 780px) {
  #username-title h1 {
  font-family: Fitzgerald, Arial;
  color: white;
  font-size: 50px;
  text-shadow: none;
  }
}

@media only screen and (min-width: 780px) and (max-width: 900px){
  #username-title h1 {
  font-family: Fitzgerald;
  color: white;
  font-size: 60px;
  background-color:rgba(0,0,0,0.0);
  text-shadow:#474747 3px 5px 2px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1150px){
  #username-title h1 {
  font-family: Fitzgerald;
  color: white;
  font-size: 80px;
  background-color:rgba(0,0,0,0.0);
  text-shadow:#474747 3px 5px 2px;
  }
}

body { 
  padding: 90px 0 0 0;
  background-color: #E4F0F3;
}

.navbar {
} 

#initials {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-top: 5px;
  margin-right: 10px;
  background-color: #44453F;
}

.first-initial {
  margin-top: -7px;
  margin-left: -5px;
  color: #E4F0F3;
}

.second-initial {
  margin-top: -12px;
  margin-left: 5px;
  color: #E4F0F3;
}

.navbar.navbar-inverse.navbar-fixed-top {
  background-color: #E4F0F3;
  border: 0;
}

.collapse navbar-collapse {

}

.nav.navbar-nav {
  float: right;
  margin-right: -180px;
}

.navbar-inverse .navbar-header .navbar-brand {
  color: #233445;
}

.navbar-brand {
  font-family: Fitzgerald;
  font-size: 20px;
  color: #233445;
}

.nav.navbar-nav li {
  font-family: Fitzgerald;
  font-size: 18px;
}

.nav.navbar-nav li a {
  color: #233445;
}

.nav.navbar-nav li a:hover {
  color: #233445;
}

.nav.navbar-nav li a:hover + hr{
  display: block;
}

hr {
  display: none;
  height: .2rem;
  width: 80%;
  background: #233445;
  border: none;
  padding-top: 0px;
  margin-top: -10px;
  margin-right: 10%;
}

.page-title {
  font-family: Fitzgerald;
  font-size: 45px;
  margin-bottom: 40px;
  padding-top: 40px;
}

.gallery-photo {
  
}

.user-profile-container {

}

.small-gallery-img {
  border-radius: 1px;
}

.project-post-link {
  color: #333333;
  font-size: 22px;
}

.project-post-link:hover {
  color: #4F6797;
  text-decoration:none;
}
