
@font-face {
  font-family: 'Bittersweet';
  src:font-url('BittersweetNF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Articulate';
  src:font-url('Articulate.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CarroisGothic';
  src:font-url('CarroisGothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Decomart';
  src:font-url('Decomart.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Exo-Regular';
  src:font-url('Exo-Regular.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fitzgerald';
  src:font-url('fitzgerald.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Flottflott';
  src:font-url('Flottflott.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HiLo-Deco';
  src:font-url('BittersweetNF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pakenham';
  src:font-url('pakenham.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Peignot';
  src:font-url('Peignot.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pistara';
  src:font-url('Pistara.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ReynoldArtDeco';
  src:font-url('ReynoldArtDeco.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Satisfy';
  src:font-url('Satisfy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
