.user-link-content {
  margin-left: 0px;
  margin-bottom: 2px;
}

.user-link {
  color: #333333;
  font-size: 16px;
}

.user-link:hover {
  color: #4F6797;
  text-decoration:none;
}





.row.links-row {
  margin-top: 50px;
}

.row.links-title-row {
  margin-top: 20px;
}

.links-title {
  font-family: Fitzgerald;
  font-size: 45px;
}