
.row.photo-row {
  margin-bottom: 40px;
}

.all-photos {
  border-radius: 5px;
  margin-bottom: 120px;
}

.individual-photo {
  border-radius: 6px;
}

.individual-photo:hover{
  border-radius: 8px;
  box-shadow: 7px 7px 7px;
}

