



.individual-photo {
}

.individual-photo:hover{
  border-radius: 8px;
  box-shadow: 7px 7px 7px;
}


.all-photos {
  background-color: #4F6797;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
}

.row.photo-row {
  margin-bottom: 8px;
  margin-top: 8px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 40px;
}

.col-sm-3.col-md-3.col-lg-3.photo-col {
  padding-left: 0px;
  padding-right: 0px;
}

