// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-content {
  margin-bottom: 20px;
  margin-left: -15px;
  margin-right: 20px;
}

.post-individual-content {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.post-content li {
  list-style: none;
}

.post-photo {
  display: inline;
}

.small-post-img {
  border-radius: 3px;
}