
.project-content {
  margin-bottom: 20px;
  margin-left: -15px;
  margin-right: 20px;
}

.project-individual-content {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.small-project-img {
  border-radius: 3px;
  margin: 0 auto;
}

.row.project-title-row {
  margin-left: 0px;
  margin-bottom: 15px;
}

.row.project-detail-row {
  margin-left: -15px;
  margin-bottom: 60px;
}

.project-all-photos {
  background-color: #4F6797;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}

.row.project-photo-row {
  margin-bottom: 8px;
  margin-top: 8px;
  padding-left: 5px;
  padding-right: 5px;
}

.col-sm-4.col-md-4.col-lg-4.project-photo-col {
  padding-left: 0px;
  padding-right: 0px;
}

.col-sm-9.col-md-9.col-lg-9.shifted-title-col {
  padding-left: 0px;
}