
.project-content {
  margin-bottom: 20px;
  margin-left: -15px;
  margin-right: 20px;
}

.project-individual-content {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.small-project-img {
  border-radius: 3px;
}

.row.project-title-row {
  margin-left: 0px;
  margin-bottom: 15px;
}

.row.project-detail-row {
  margin-left: -15px;
  margin-bottom: 60px;
}

.project-all-photos {
  background-color: #4F6797;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.row.project-photo-row {
  margin-bottom: 10px;
}