// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-content {
  margin-bottom: 20px;
  margin-left: -15px;
  margin-right: 20px;
}

.project-individual-content {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.project-content li {
  list-style: none;
}

.project-photo {
  display: inline;
}

.small-project-img {
  border-radius: 3px;
}